.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px 5px;
  font-size: small;
}
table {
  width: 100%;
}

input {
  width: 95%;
  outline: none;
  border: none;
  padding: 10px 5px;
  font-size: small;
}

.footer {
  display: flex;
  
  justify-content: space-around;

  /* background-color: #61dafb; */
  padding: 10px;
  margin:5px 0;
  margin-bottom: -10px;
}

.item{
  font-size: 8px;
}

.spacer{
  margin-bottom: 620px;
}

tr{
  border:none;
}

.searchBox{
  display: flex;

  justify-content: end;
  /* padding:"10px"; */
  /* margin-bottom:10px */
}

.searchInput{
  border:2px solid gray;
  border-radius:5px;
  /* padding:10px; */
  margin:10px;
  font-size: 20px;
  font-weight: 500;


}


